[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sayan Acharya (SayanAcharya)
[access "refs/for/refs/*"]
	read = group user/Sayan Acharya (SayanAcharya)
	push = group user/Sayan Acharya (SayanAcharya)
	label-Code-Review = -2..+2 group user/Sayan Acharya (SayanAcharya)
	label-Verified = -1..+1 group user/Sayan Acharya (SayanAcharya)
	rebase = group user/Sayan Acharya (SayanAcharya)
	removeReviewer = group user/Sayan Acharya (SayanAcharya)
	submit = group user/Sayan Acharya (SayanAcharya)
[access "refs/heads/*"]
	read = group user/Sayan Acharya (SayanAcharya)
	create = group user/Sayan Acharya (SayanAcharya)
	push = +force group user/Sayan Acharya (SayanAcharya)
	pushMerge = group user/Sayan Acharya (SayanAcharya)
[access "refs/tags/*"]
	push = group user/Sayan Acharya (SayanAcharya)
	push = +force group user/Sayan Acharya (SayanAcharya)
